nav{
    padding: 1rem;

    ul{
        @include flex-row;
        gap: 2rem;
        list-style-type: none;

        li,a{
            font-size: 1.2rem;
            font-weight: bold;
            text-decoration: none;
            cursor: pointer;
            transition: all 300ms;

            &:hover{
                text-decoration: underline;
            }
        }

        button{
            @extend li;
            font-size: 1rem;
            border-radius: 0.5rem;

            &:hover{
                text-decoration: none;
                background-color: $default;
                border: 1px solid $primary;
                color: $primary;
            }
        }
    }
}